* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  font-family: Roboto, sans-serif;
}

.container {
  /* max-width: 3080px; */
  max-width: 1080px;
  margin: 0 auto;
}

/* Hero Section */
.hero-section {
  background-color: #1f2937;
}
.header {

  padding: 1em 0;

  display: flex;
  justify-content: space-between;
  align-items: center;
}

.logo {
  font-weight: bold;
  font-size: 24px;
  color: #F9FAF8;
}

.nav-links-right {
  list-style-type: none;

  display: flex;
  margin: 0;
  padding: 0;

  gap:2em;
}

.header a {
  font-size: 18px;
  color: #E5E7EB;
  text-decoration: none;
}

/* Hero Main Content */
.hero-main {
  display: flex;
  justify-content: space-between;
  gap: 2em;
  padding: 6em 0;
}

.hero-main-text {
  font-size: 48px;
  font-weight:900;
  color: #F9FAF8;
}

.hero-secondary-text {
  font-size: 18px;
  color: #E4E7EB;
  margin: 1em 0;
}

.hero-img-container {
  max-height: 240px;

}
.hero-img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  object-position: center;
}

.btn {
  padding: .25em 1.5em;
  border-radius: .5em;
  border: none;
  display: inline-flex;
  justify-content: center;
  align-items: center;
  text-align: center;
}

.btn-cta {
  background-color: #3882F6;
  color: white;
  font-weight: bold;
  font-size: 18px;
}

/* Info Section */
.info-section {
}
.info-header {
  font-size: 36px;
  font-weight: 900;
  color: #1F2937;
  margin: 1em 0;
  text-align: center;
}

.info-cards {
  display: flex;
  gap: 3em;
  padding: 0 6em;
  justify-content: space-around;
}
.info-card {
  flex: 1;

  display: flex;
  justify-content: center;
  flex-direction: column;
  gap:1em;
}

.info-image-container {
  border: 4px solid #3882F6;
  border-radius: 1em;
  overflow: hidden;
}

.info-image {
  width: 100%;
  height: 100%;
  object-fit: cover;
  object-position: center;
}

.info-content {
  color: #1F2937;
  text-align: center;
}

/* Quote Section */
.quote-section {
  background-color: #E5E7EB;
  margin-top: 8em;
  padding: 8em;
}

.quote-container {
  display: flex;
  flex-direction: column;
  margin: 0 2em;
}

.quote-text {
  font-size: 36px;
  font-weight: 300;
  font-style: italic;
}

.quote-author {
  align-self: end;
  font-weight: bold;
  font-size: 24px;
}